img {
    height: 230px;
}

body {
    text-align: center;
    background-color: rgb(1,50,32);
    color: white;
}

h1 {
    text-align:left;
    width: 240px;
    background-color: darkred;
    padding: 15px;
}

table, tr, th, td {
    border: 3px solid white;
}

th{
    font-size: 30px;
    padding: 5px;
    background-color: darkgray;
    color: darkblue
}

button {
    background-color: darkred;
    color: white;
    font-size: 40px;
    margin-top: 20px;
    margin-right: 30px;
    padding: 20px
}